<!-- normal pipes -->
<h2>{{title | uppercase}}</h2>
<h2>{{title | lowercase}}</h2>

<!-- currency pipe -->
<h2>{{value | currency}}</h2>

<!-- pipes parameter passing -->
<h2>{{value | currency:'GBP':'symbol-narrow' }}</h2>
<h2>{{value | currency:'LKR':'code'}}</h2>
<h2>{{decimal | number: '1.2-2'}}</h2>
<h2>{{decimal | percent}}</h2>
<h2>{{title | slice:0-5}}</h2>
<h2>{{jsondata | json | uppercase}}</h2>
<h2>{{date | date: 'd.M.y'}}</h2>

<br>
<!-- custom pipe -->
<h1>{{value | transform: 10}}</h1>
<h1>{{convert(value,10)}}</h1>

